*,
*::before,
*::after {
    box-sizing: border-box;
    max-width: 100%;
}



/* -----------------
    ROOT VARIABLES
   ----------------- */
:root {
    --font-weight-bold: 900;
    --font-size: 2rem;
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);

    --color-fg: #cfcfcf;
    --color-bg: #2f3230;

    --light: #dfdfdf;
    --dark: #192119;
    --accent: #00d804;

    --footer-light: #737373;
    --footer-dark: #26272b;
}

/* -------------------------------
COLOR SCHEME -- MEDIA QUERIES 
----------------------------- */

@media (prefers-color-scheme: light) {
    :root {
        --color-bg: #cfcfcf;
        --color-fg: #2f3230;
    }
}

/* -------------------------------
SITE-WIDE SETTINGS
----------------------------- */

html {
    scroll-behavior: smooth;
    font-size: calc(0.75rem + 1.5vw);
    line-height: 1.5;
}

body {
    font-family: Roboto, sans-serif;
    font-display: swap;
    background-color: var(--color-bg);
    color: var(--color-fg);
}


/* ------------------
NAVBAR 
--ITEMS 
-------------------*/
nav a {
    text-decoration: none;
    font-size: var(--fs-nav);
    color: var(--clr-accent);
}

nav a:hover {
    text-decoration: underline;
}

/* -------------------------------
NAVBAR 
--MOBILE 
----------------------------- */



/* ------------- 
NAVBAR 
--DESKTOP 
---------------*/
@media (min-width: 800px) {
    
    .toggle__btn,
    .toggle__bar {
        visibility: hidden;
    }
}



/*------------
FOOTER
 ------------- */

footer {
    background-color: var(--clr-footer-dark);
    color: var(--clr-footer-light);
    position: absolute;
    width: 100%;
    padding: 1em;
}

footer.a {
    color: var(--clr-footer-light);
    text-decoration: none;
}    

footer.a:hover {
    color:var(--clr-accent);
    text-decoration: none;
}

.footer__icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}



/* ------------------
SECTION STYLES
-------------------- */

section {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    padding:1em;
    margin:2em;
}

section.h2 {
    text-align: center;
    text-decoration: underline;
}

section.div {
    border: #ffffff;
    border-style: solid;
    padding:1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.item--link {
    text-decoration: none;
    color: var(--clr-fg);
}

.item--link:hover {
    text-decoration: underline;
    color: var(--clr-accent);
}