nav,
button {
    visibility: hidden;
    display: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    max-width: 100%;
}



/* -----------------
    ROOT VARIABLES 
   ----------------- */
:root {
    --color-fg: #cfcfcf;
    --color-bg: #2f3230;

    --clr-light: #dfdfdf;
    --clr-dark: #192119;
    --clr-accent: #00d804;

    --clr-footer-light: #737373;
    --clr-footer-dark: #26272b;

    --fw-reg: 300;
    --fw-bold: 900;

    --fs-nav: 2rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}



/* -------------------------------
COLOR SCHEME -- MEDIA QUERIES 
----------------------------- */

@media (prefers-color-scheme: light) {
    :root {
        --color-bg: #cfcfcf;
        --color-fg: #2f3230;
    }
    #logo-light {
        visibility: visible;
        position: absolute;
    }
    #logo-dark {
        visibility: hidden;
    }
}

@media (prefers-color-scheme: dark) {
    #logo-dark {
        visibility: visible;
        position: absolute;
    }
    #logo-light {
        visibility: hidden;
    }
    
}


/* -------------------------------
SITE-WIDE SETTINGS
----------------------------- */

html {
    scroll-behavior: smooth;
    font-size: calc(0.75rem + 1.5vw);
    line-height: 1.5;
}

body {
    font-family: Roboto, sans-serif;
    font-display: swap;
    background-color: var(--color-bg);
    color: var(--color-fg);
}
/* 
header {
    display: flex;
} */


h1 {
    text-align: center;
    text-shadow: #26272b;
}



/* -------------------------------
NAVBAR 
--TOGGLE 
----------------------------- */

.toggle__btn {
    padding: 2em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: .5em;
    top: 2em;
    z-index: 1000;
}

.toggle__bar {
    display: inline-block;
    position: relative;
}

.toggle__bar,
.toggle__bar::before,
.toggle__bar::after {
    background: var(--clr-accent);
    width: 2.5em;
    height: .2em;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.toggle__bar::before,
.toggle__bar::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.toggle__bar::before {
    top: .5em;
}

.toggle__bar::after {
    bottom: .5em;
}

/* NAV JAVASCRIPT */
.nav-open .nav {
    transform: translateX(0);
}

.nav-open .toggle__btn {
    position: fixed;
}

.nav-open .toggle__bar {
    transform: rotate(.625turn);
}

.nav-open .toggle__bar::before {
    transform: rotate(90deg) translateX(-0.5em);
}

.nav-open .toggle__bar::after {
    opacity: 0;
}

.nav__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}


/* ------------------
NAVBAR 
--MENU 
-------------------*/

.nav__link {
    text-decoration: none;
    font-size: var(--fs-nav);
    color: var(--clr-accent);
}



/* ------------- 
NAVBAR 
--DESKTOP 
---------------*/
@media (min-width: 800px) {
    
    .toggle__btn,
    .toggle__bar {
        visibility: hidden;
    }

    .nav__row {
        visibility: visible ;
        display: flex;
        flex-direction: row;
        gap: 1em;
    }
    .nav__link a {
        visibility: visible;
        color: var(--clr-accent);
        text-decoration: underline;

    }
    
}



/*------------
FOOTER
 ------------- */

.footer {
    background-color: var(--clr-footer-dark);
    color: var(--clr-footer-light);
    position: absolute;
    width: 100%;
    padding: 1em;
}

.footer__title {
    color: var(--clr-light);
}

.footer__links {
    display: flex;
    flex-direction: column;
}
.footer a {
    color: var(--clr-footer-light);
    text-decoration: none;
}    

.footer a:hover {
    color:var(--clr-accent);
    text-decoration: none;
}

.footer__icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;

}




/* ------------------
SECTION STYLES
-------------------- */
body {
    background-color: hsla(200, 30, 70, .5);
}
section {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    padding:1em;
    margin:2em;
}
h2 {
    text-align: center;
    text-decoration: underline;
}

.div {
    border: #ffffff;
    border-style: dashed;
    padding:1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
}
.item--link {
    text-decoration: none;
    color: var(--clr-fg);
}

.item--link:hover {
    text-decoration: underline;
    color: var(--clr-accent);
}